<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/2374370.png" type="image/x-icon">
    <link rel="stylesheet" href="../styles/login.css">
    <title>Bienvenidos</title>
</head>
<body>
        <header class="hero">
    
            <br>
        
            <main>
                <h1>  Inicio de sesion  CalculadoraApp</h1>
                <br>
              
                <form id="forms">
                  <div>
                  </div> 
                  <div>
                    <label class="nombre_cuenta">Nombre de la cuenta</label>
                    <input type="text" name="nombre" autocomplete="off" id="cuenta" />
                  </div>
                  <div>
                    <label  class="contraseña_usuario">Contraseña</label>
                    <input type="password" name="contraseña" autocomplete="off" id="pass" />
                  </div>
                  <div>
                    <button type="submit" class="create_button" id="login_cuenta_button" >Iniciar Sesion</button>
                  </div>
                  <br>
                  <div>
                    <a href="../views/usersRegister.html">
                    <button type="button" id="crear_cuenta_button">Crear cuenta</button>
                    </a>
                  </div>
                  <br>
                  <div>
                    <p class="hechopor">Hecho por Juan Camilo Castro Velasquez</p>
                  </div>
                </form>

              <script src="../scripts/login.js"></script>
              </main>
              
        
        
    </header>
    

</body>
</html>
