
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/usersRegiter.css">
    <title>Registro</title>
</head>
<body>
    <header class="hero">
    
        <br>
    
        <main>
            <h1>  Creacion de usuario  CalculadoraApp</h1>
            <br>
          
            <form id="forms">
              <div>
              </div> 
              <div>
                <label class="nombre_cuenta">Nombre de la cuenta</label>
                <input type="text" name="nombre" autocomplete="off" id="cuenta_nombre" />
              </div>
              <div>
                <label class="nombre_cuenta">Nombre</label>
                <input type="text" name="nombre" autocomplete="off" id="user_nombre" />
              </div>
              <div>
                <label class="nombre_cuenta">Apellido</label>
                <input type="text" name="nombre" autocomplete="off" id="user_apellido" />
              </div>
              <div>
                <label  class="contraseña_usuario">Contraseña</label>
                <input type="password" name="contraseña" autocomplete="off" id="user_contra" />
              </div>
              <div>
                <button type="submit" class="create_button" id="actualizar_cuenta_button" >Crear Cuenta</button>
              </div>
              <div>
                <a href="../views/login.html">
                <button type="button" class="create_button" id="regresar">Regresar</button>
                </a>
              </div>
              <br>
              
              <br>
              <div>
                <p class="hechopor">Hecho por Juan Camilo Castro Velasquez</p>
              </div>
            </form>
            
          <script src="../scripts/usersRegister.js"></script>
          </main>
          
    
    
</header>
</body>
</html>